body{
    overflow: hidden;

}

#main{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

p{
    color: #f0f0f0;
    font-size: large;
    line-height: 2;
    padding: 2px;
    text-align: left;
    align-self: center;
    align-content: center;
    margin-left : 40px;
    margin-right : 40px;
}

#titlebar {
    display: none;
    position: relative;
    color:#f0f0f0 ;
    text-align: center;
}

.title{
    font-size: 40px;
}

#info{
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    background-color: transparent;
    font-size: 27px;
    color: skyblue;
}

.infoC{
    display: none;
    position: absolute;
    right:5%;
    background-image: linear-gradient(90deg, rgb(133, 130, 130, 0.5), rgb(37, 37, 37, 1) );
    opacity: 90%;
    padding: 30px 40px;    
    border-radius: 10%;
    font-family: "Poppins",sans-serif;
    text-align: left;
    border: aliceblue dashed 2px;
    overflow: auto;
    z-index: 4;
}

.openPopup{
    text-align: center;
    border:  aliceblue dashed 1px;
}
#input{
    position: fixed;
    left: 0;
    bottom: 0;
    align-self: center;
    width: 100%;
    text-align: center; /* Example styling */
    height: 9vh;
    display: none;
}

.styledBox{
      background-color: transparent;
      border: 1px solid whitesmoke;
      padding: 3px;
      text-align: center;
      border-radius: 10%;
      color : #f0f0f0;
    }

#myInput{
    align-self: center;
    margin: 5px 0 22px 0;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.5);
    padding: 8px;
}

.morse{
    color: #feda4a;
    font-size: large;
}

#inputLabel{
    color: #f0f0f0;
    font-size: large;
}

#output{
    display: flex;
    flex-direction: column;
    height: 74vh;
    overflow: auto;
    padding: 10px;
    margin: 10px;
    
}

#output::-webkit-scrollbar {
    width: 7px; /* Very thin scrollbar */
}

#output::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners */
}

#output::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

#output::-webkit-scrollbar-track {
    background: transparent; /* Color of the scrollbar track */
    border-radius: 5px;
}

#output::-webkit-scrollbar-track:hover {
    background: #555;
}

.message {
    border-radius: 10px; /* Rounded corners */
    clear: both; /* Prevent floating issues */
    max-width: 100%; /* Limit message width */    
  }
  
.message-text {
    margin: 1px; /* Remove default paragraph margins */
    word-wrap: break-word; /* Prevent long words from breaking layout */
    color: black;
    margin-top: 10px;
    margin-bottom: 10px; /* Spacing between messages */
    padding-top: 12px;
    padding-bottom: 10px;
}

.user-message {
    background-color: #6ae70a; /* Light green, similar to WhatsApp */
    align-self: flex-end;
    float: right; 
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.5);
    padding: 8px;
}
  
  /* Styling for other users' messages (received) */
.other-message {
    background-color: #7a7af1; /* Light gray, similar to Telegram */
    align-self: flex-start;
    float: left; 
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.5);
    padding: 8px;
}

#glscreen{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
}

.popup{
    background-image: linear-gradient(90deg, rgb(133, 130, 130, 0.5), rgb(37, 37, 37, 1) );
    opacity: 90%;
    height: auto;
    width: auto;
    min-width: 30%;
    max-height: 70%;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 10%;
    font-family: "Poppins",sans-serif;
    display: block;
    text-align: center;
    border: aliceblue dashed 2px;
    overflow: auto;
    z-index: 4;
}

button{
    background-color: transparent;
    border: none;
    color: aliceblue;
    cursor: pointer;
    font-size: large;
}

.popup .top{
    border-radius: 10%;
    position: relative;
    margin-bottom: 60px;
}

.popup .top .pageNo{
    position: absolute;
    left: 0;
}

.popup .top .head{
    position: absolute;
    word-wrap: break-word;
    left: 20%;
    right: 20%;
    color: aliceblue;
    line-height: 1;
    padding: 10px 10px;
    margin-bottom: 10px;    
}

.popup .top .closeButton{
    position: absolute;
    right: 0;
}


.popup .bottom{
    position: relative;
}

.popup .bottom .back{
    position: absolute;
    left: 10%;
}

.popup .bottom .forward{
    position: absolute;
    right: 10%;
}
.popup .popuptext{
    margin: 30px 30px;
    color: black;
    font-size: 17px;
    color: aliceblue;
    line-height: 2;
    padding-top: 20px;
}


#popup::-webkit-scrollbar {
    width: 0px  ; /* Very thin scrollbar */
}

.smallText{
    font-size: xx-small;
    text-align: inherit;
    color: white;
    margin-right: 0;
    margin-left: 0;    
}
