body{
    overflow: hidden;

}

button{
    background-color: transparent;
    border: none;
    color: aliceblue;
    cursor: pointer;
    font-size: large;
}

p{
    color: #f0f0f0;
    font-size: large;
    line-height: 2;
    padding: 2px;
    text-align: left;
    align-self: center;
    align-content: center;
    margin-left : 40px;
    margin-right : 40px;
}

option{
    background-color: black;
    cursor: pointer;
}

#main{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

#titlebar {
    display: none;
    position: relative;
    color:#f0f0f0 ;
    text-align: center;
}

.title{
    font-size: 60px;
    font-family: "Moirai One", system-ui;;
}

#info{
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    background-color: transparent;
    font-size: 27px;
    color: skyblue;
}

.infoC{
    font-family: "Mystery Quest", system-ui;
    display: none;
    position: absolute;
    right:5%;
    background-image: linear-gradient(90deg, rgb(133, 130, 130, 0.5), rgb(37, 37, 37, 1) );
    opacity: 90%;
    padding: 30px 40px;    
    border-radius: 10%;
    text-align: left;
    border: aliceblue dashed 2px;
    overflow: auto;
    z-index: 4;
}

.openPopup{
    text-align: center;
    border:  aliceblue dashed 1px;
    font-family: "Mystery Quest", system-ui;
}
#input{
    position: fixed;
    left: 0;
    bottom: 0;
    align-self: center;
    width: 100%;
    text-align: center; /* Example styling */
    height: 9vh;
    display: none;
}

.styledBox{
      background-color: transparent;
      border: 2px dotted cyan;
      text-align: center;
      border-radius: 20%;
      color : #f0f0f0;
      text-wrap: nowrap;
      padding: 2px;
      padding-left: 5px;
      padding-right: 5px;
      font-family: inherit;
}

#myInput{
    align-self: center;
    margin: 5px 0 22px 0;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.5);
    padding: 8px;
}

.morse{
    color: #feda4a;
    font-size: large;
}

#inputLabel{
    color: #f0f0f0;
    font-size: large;
}

#output{
    display: flex;
    flex-direction: column;
    height: 74vh;
    overflow: auto;
    padding: 10px;
    margin: 10px;
    
}

#output::-webkit-scrollbar {
    width: 7px; /* Very thin scrollbar */
}

#output::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners */
}

#output::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

#output::-webkit-scrollbar-track {
    background: transparent; /* Color of the scrollbar track */
    border-radius: 5px;
}

#output::-webkit-scrollbar-track:hover {
    background: #555;
}

.message {
    border-radius: 10px; /* Rounded corners */
    clear: both; /* Prevent floating issues */
    max-width: 100%; /* Limit message width */    
  }
  
.message-text {
    margin: 1px; /* Remove default paragraph margins */
    word-wrap: break-word; /* Prevent long words from breaking layout */
    color: black;
    margin-top: 10px;
    margin-bottom: 10px; /* Spacing between messages */
    padding-top: 12px;
    padding-bottom: 10px;
}

.user-message {
    background-image: linear-gradient(90deg, rgb(133, 130, 130, 0.5), rgb(122, 108, 201) );
    align-self: flex-end;
    float: right; 
    border-radius: 30px;
    border-bottom-right-radius: 0%;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.5);
    padding: 8px;
    font-size: large;
}
  
  /* Styling for other users' messages (received) */
.other-message {
    background-image: linear-gradient(90deg, rgb(133, 130, 130, 0.5), rgb(45, 45, 46) );
    align-self: flex-start;
    float: left; 
    border-radius: 30px;
    border-bottom-left-radius: 0%;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.5);
    padding: 8px;
    color: white;
    font-size: large;
}

#glscreen{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
}

.popup {
    background-image: linear-gradient(90deg, rgb(133, 130, 130, 0.5), rgb(37, 37, 37, 1) );
    opacity: 90%;
    height: auto;
    width: auto;
    min-width: 30%;
    max-height: 70%;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 10%;
    font-family: "Poppins",sans-serif;
    display: flex; 
    flex-direction: column;
    text-align: center;
    border: aliceblue dashed 2px;
    overflow: auto; 
    z-index: 4;
}

.popup .closeButton{
    right: 7%;
    position: fixed;
}

.popup .head {
    font-family: "Mystery Quest", system-ui;
    font-style: normal;
    word-wrap: break-word;
    justify-self: center;
    align-self: center;
    text-align: center; 
    color: azure;
    line-height: 1.2;
    padding: 10px;
    margin: 0 10px; 
    flex-grow: 1; 
    min-width: 0; 
    font-size: xx-large;
    /* mix-blend-mode: screen; */
}

.popup .bottom {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    position: relative;
    margin-top: 10px; 
    padding-top: 10px; 
}

.popup .popuptext {
    font-family: "Mystery Quest", system-ui;
    margin: 0; 
    padding: 20px; 
    position: relative; 
    color: aliceblue;
    font-size: large;
    line-height: 1.7;
    overflow: auto; 
    flex-grow: 1; 
    min-height: 0; 
    overflow: hidden;
}

.popup .popuptext p{
    text-indent: 4em;
    font-size: inherit;
    line-height: inherit;
    margin: 2px;
    margin-bottom: 4px;
}

.popup .popuptext .noIndent{
    text-indent: 0;
}

.popup .bottom .pageNo{
    font-family: "Mystery Quest", system-ui;
}

#popup::-webkit-scrollbar {
    width: 0px  ; /* Very thin scrollbar */
}
#mypopup::-webkit-scrollbar {
    width: 0px  ; /* Very thin scrollbar */
}
.smallText{
    font-size: xx-small;
    text-align: inherit;
    color: white;
    margin-right: 0;
    margin-left: 0;    
}

.why{
    border-bottom: 2px white dotted;
    width: fit-content;
    align-self: center;
    justify-self: center;
    display: inline;
}

.why .hiddenwhy{
    visibility: hidden;
    background-image: linear-gradient(90deg, rgb(37, 37, 37, 1), rgb(133, 130, 130, 1) );
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    width: fit-content ;
    position: absolute;
    text-indent: 0;
    z-index: 1;
}

.why:hover .hiddenwhy {
    visibility: visible;
}

.fallbtn{
    background-image: linear-gradient(90deg, rgb(37, 37, 37, 1), rgb(133, 130, 130, 1) );
    font-size: larger;
    font-family: "Nosifer", sans-serif;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    width: fit-content ;
    text-indent: 0;
    z-index: 1;
}